@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-bricolage);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);

  /* @note fumadocs theme variables */
  --color-fd-background: var(--fd-background);
  --color-fd-foreground: var(--fd-foreground);
  --color-fd-muted: var(--fd-muted);
  --color-fd-muted-foreground: var(--fd-muted-foreground);
  --color-fd-popover: var(--fd-popover);
  --color-fd-popover-foreground: var(--fd-popover-foreground);
  --color-fd-card: var(--fd-card);
  --color-fd-card-foreground: var(--fd-card-foreground);
  --color-fd-border: var(--fd-border);
  --color-fd-primary: var(--fd-primary);
  --color-fd-primary-foreground: var(--fd-primary-foreground);
  --color-fd-secondary: var(--fd-secondary);
  --color-fd-secondary-foreground: var(--fd-secondary-foreground);
  --color-fd-accent: var(--fd-accent);
  --color-fd-accent-foreground: var(--fd-accent-foreground);
  --color-fd-ring: var(--fd-ring);
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.541 0.281 293.009);
  --primary-foreground: oklch(0.969 0.016 293.756);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.705 0.015 286.067);
  --chart-1: oklch(0.811 0.111 293.571);
  --chart-2: oklch(0.606 0.25 292.717);
  --chart-3: oklch(0.541 0.281 293.009);
  --chart-4: oklch(0.491 0.27 292.581);
  --chart-5: oklch(0.432 0.232 292.759);
  --radius: 0.875rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.541 0.281 293.009);
  --sidebar-primary-foreground: oklch(0.969 0.016 293.756);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.705 0.015 286.067);

  /* @note fumadocs light theme */
  --fd-background: oklch(0.98 0 0);
  --fd-foreground: oklch(0.141 0.005 285.823);
  --fd-muted: oklch(0.96 0.001 286.375);
  --fd-muted-foreground: oklch(0.5 0.016 285.938);
  --fd-popover: oklch(0.99 0 0);
  --fd-popover-foreground: oklch(0.2 0 285.86);
  --fd-card: oklch(0.97 0 0);
  --fd-card-foreground: oklch(0.141 0.005 285.823);
  --fd-border: oklch(0.9 0.004 286.32 / 60%);
  --fd-primary: oklch(0.141 0.005 285.823);
  --fd-primary-foreground: oklch(0.98 0 0);
  --fd-secondary: oklch(0.95 0.001 286.375);
  --fd-secondary-foreground: oklch(0.141 0.005 285.823);
  --fd-accent: oklch(0.92 0.004 286.32 / 60%);
  --fd-accent-foreground: oklch(0.141 0.005 285.823);
  --fd-ring: oklch(0.705 0.015 286.067);
}

.dark {
  /* --background: oklch(0.141 0.005 285.823); */
  --background: oklch(0.2223 0.0060 271.1393);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.606 0.25 292.717);
  --primary-foreground: oklch(0.969 0.016 293.756);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.552 0.016 285.938);
  --chart-1: oklch(0.811 0.111 293.571);
  --chart-2: oklch(0.606 0.25 292.717);
  --chart-3: oklch(0.541 0.281 293.009);
  --chart-4: oklch(0.491 0.27 292.581);
  --chart-5: oklch(0.432 0.232 292.759);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.606 0.25 292.717);
  --sidebar-primary-foreground: oklch(0.969 0.016 293.756);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.552 0.016 285.938);

  /* @note fumadocs dark theme */
  --fd-background: oklch(0.18 0.006 271.14);
  --fd-foreground: oklch(0.95 0 0);
  --fd-muted: oklch(0.25 0.006 286.033);
  --fd-muted-foreground: oklch(0.65 0.015 286.067);
  --fd-popover: oklch(0.22 0.006 285.885);
  --fd-popover-foreground: oklch(0.9 0 0);
  --fd-card: oklch(0.2 0.006 285.885);
  --fd-card-foreground: oklch(0.98 0 0);
  --fd-border: oklch(1 0 0 / 12%);
  --fd-primary: oklch(0.98 0 0);
  --fd-primary-foreground: oklch(0.14 0 285.86);
  --fd-secondary: oklch(0.25 0.006 286.033);
  --fd-secondary-foreground: oklch(0.95 0 0);
  --fd-accent: oklch(0.35 0.006 286.033 / 40%);
  --fd-accent-foreground: oklch(0.95 0 0);
  --fd-ring: oklch(0.552 0.016 285.938);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}